#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: Arial, sans-serif;
}

.table-container {
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden; /* Prevent horizontal scroll */
  max-height: 900px; /* Adjust based on your needs */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed; /* Ensures that table layout is fixed */
  background-color: #2d2d2d; /* Dark background for the table */
}

thead {
  background-color: #4d4d4d;
  color: white;
  position: sticky;
  top: 0;
}

th:hover {
  background-color: #f9b3b3;
}


thead th {
  padding: 10px;
  text-align: left;
  white-space: nowrap; /* Prevents text from wrapping */
}

tbody tr {
  border-bottom: 1px solid #3d3d3d;
}

tbody td {
  padding: 10px;
  color: white;
  white-space: nowrap; /* Prevents text from wrapping */
  overflow: hidden; /* Ensures that text does not overflow the cell */
  text-overflow: ellipsis; /* Adds ellipsis (...) for overflow text */
  text-align: left;
}

/* Specific width for the first td (Product) */
tbody td:first-child {
  width: 200px; /* Fixed width for the first column */
}

tbody td.numeric {
  text-align: right; /* Align numeric data to the right */
}

tbody tr:nth-child(even) {
  background-color: #3d3d3d;
}

tbody tr:hover {
  background-color: #4d4d4d;
}

/* Text styles */
h2 {
  text-align: center;
  margin-bottom: 20px;
  color: white;
  font-family: Arial, sans-serif;
  font-size: 2em;
}

.logo {
  height: 3em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.read-the-docs {
  color: #888;
}

